{{ include_javascript('tools/qrcode/javascripts/html5-qrcode.min.js') }}
{{ include_javascript('tools/qrcode/javascripts/qrcodescan.js') }}
{{ include_css('tools/qrcode/styles/qrcodescan.css') }}
<div id="qrinfos" data-speak="{{ speak }}"  data-relation="{{ relation }}" class="hide">
    <div class="alert alert-info">{{ _t('QR_FIRST_INSTRUCTIONS') }}</div>
</div>
<div id="qr-container">
    <div class="row">
        <div class="col-md-8">
            <div class="flex-center">
                <div class="flex-element text-center">
                    <div id="qrreader"></div>
                    <div id="qrreader-results"></div>
                    <a href="#" class="btn btn-default btn-reset"><i class="glyphicon glyphicon-refresh"></i> {{ _t('QR_RESET') }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="step1 stepper__row stepper__row--active">
                <div class="stepper--vertical">
                  <div class="stepper--vertical__circle">
                    <span class="stepper--vertical__circle__text">
                      1
                    </span>
                  </div>
                  <div class="stepper--vertical__details">
                    <h3 class="heading__three">
                      {{ _t('QR_SCAN_FIRST') }}

                    </h3>
                    <p class="text-success"></p>
                    <p class="paragraph">
                      {{ _t('QR_FIRST_INSTRUCTIONS') }}
                    </p>
                  </div>
                </div>
              </div>
            <div class="step2 stepper__row stepper__row--disabled">
              <div class="stepper--vertical">
                <div class="stepper--vertical__circle">
                  <span class="stepper--vertical__circle__text">
                    2
                  </span>
                </div>
                <div class="stepper--vertical__details">
                  <h3 class="heading__three">
                    {{ _t('QR_SCAN_SECOND') }}
                  </h3>
                  <p class="text-success"></p>
                  <p class="paragraph">
                    {{ _t('QR_SECOND_INSTRUCTIONS') }}
                  </p>
                </div>
              </div>
            </div>
            <div class="step3 stepper__row stepper__row--disabled">
              <div class="stepper--vertical">
                <div class="stepper--vertical__circle">
                  <span class="stepper--vertical__circle__text">
                    3
                  </span>
                </div>
                <div class="stepper--vertical__details">
                  <h3 class="heading__three">
                    {{ _t('QR_FINISH') }}
                  </h3>
                  <p class="text-success"></p>
                  <p class="paragraph">
                    {{ _t('QR_FINAL_INSTRUCTIONS') }}
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>