{{ include_javascript('tools/qrcode/javascripts/html5-qrcode.min.js') }}
{{ include_javascript('tools/qrcode/javascripts/qrcodescanner.js') }}
{{ include_css('tools/qrcode/styles/qrcodescan.css') }}
<div id="qrinfos" data-speak="{{ speak }}">
    <div class="alert alert-info">Passer le QR code de la carte musicale dans la zone visuelle pour lancer le son.</div>
</div>
    <div class="row">
        <div class="col-md-6">
          <div id="qrreader"></div>
          <div id="qrreader-results"></div>
          <a href="#" class="btn btn-default btn-reset"><i class="glyphicon glyphicon-refresh"></i> {{ _t('QR_RESET') }}</a>
        </div>
        <div class="col-md-6">
          <div id="multimedia-player"></div>
        </div>
    </div>
</div>
